<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ static_url_for('static', filename='styles.css') | bustcache }}">
    <link rel="icon" type="image/x-icon" href="{{ static_url_for('static', filename='favicon.ico') | bustcache }}">
</head>

<body>
    <script nonce="{{nonce}}">
        window.apiBasePath = "{{url_for('api.default_root_resource', _external=True)}}";
        window.userApiBasePath = "{{url_for('user_api.default_root_resource', _external=True)}}";
    </script>
    <m4m-root class="h-100 flex flex-column"></m4m-root>

    <script src="{{ static_url_for('static', filename='runtime-es2015.js') | bustcache }}" type="module" nonce="{{nonce}}"></script>
    <script src="{{ static_url_for('static', filename='runtime-es5.js') }}" nomodule defer nonce="{{nonce}}"></script>
    <script src="{{ static_url_for('static', filename='polyfills-es2015.js') | bustcache }}" type="module" nonce="{{nonce}}"></script>
    <script src="{{ static_url_for('static', filename='polyfills-es5.js') }}" nomodule defer nonce="{{nonce}}"></script>
    <script src="{{ static_url_for('static', filename='vendor-es2015.js') | bustcache }}" type="module" nonce="{{nonce}}"></script>
    <script src="{{ static_url_for('static', filename='vendor-es5.js') }}" nomodule defer nonce="{{nonce}}"></script>
    <script src="{{ static_url_for('static', filename='main-es2015.js') | bustcache }}" type="module" nonce="{{nonce}}"></script>
    <script src="{{ static_url_for('static', filename='main-es5.js') }}" nomodule defer nonce="{{nonce}}"></script>
</body>

</html>
