<div class="flex-grow flex flex-column items-stretch">
    <div class="flex mb2 hide-child" *ngFor="let entry of currentValue; let i=index;trackBy:trackBy">
        <div class="bl bw2 mh1 b--light-gray self-stretch"></div>
        <div class="child z-1 w2 bg-red grow pointer flex flex-column items-center justify-around" (click)="deleteItem(i)">
            <div class="flex-grow-1 flex items-center">
                <i class="fa fa-minus white"></i>
            </div>
        </div>
        <df-layer class="flex-grow" [modelUrl]="property?.items['$ref']" [startData]="entry"
            [path]="path + '.' + i" [specifications]="specifications" [context]="context" [debug]="debug"
            (data)="updateValue(i, $event)" (specificationsUpdate)="specificationsUpdate.emit($event)">
        </df-layer>
    </div>
    <div class="ml2 h2 br2 bg-light-gray bg-animate hover-bg-light-green pointer flex items-center justify-around" (click)="newItem()">
        <i class="fa fa-plus"></i>
    </div>
</div>

