REFERENCE:

<m4m-dropdown #dropdown>
    <div class="mw5 ba flex justify-between" content>
        <div>
            <input type="search" [(ngModel)]="searchTerm" placeholder="test"
                    (focus)="dropdown.openDropdown()" (keyup)="dropdown.openDropdown()"
                    (keyup.enter)="select.select()" (keyup.arrowdown)="select.highlightNext()"
                    (keyup.arrowup)="select.highlightPrevious()">
        </div>
        <div class="bl w1" (click)="dropdown.toggleDropdown()">↓</div>
    </div>
    <m4m-selection-list [selectables]="choices" [selected]="value"
            (selectedChange)="selectedChange($event)"
            [display]="'name'" [key]="'id'" [search]="searchTerm" #select dropdown-content></m4m-selection-list>
</m4m-dropdown>

