<m4m-box>
    <h1 class="mv0" title>"{{voice?.name}}":</h1>
    <div class="tooltip tooltip-left button h2 pv1 ph2 br2 link bg-animate hover-bg-light-red pointer" data-tooltip="delete" (click)="confirm.open()" title-right>
        <i class="fa fa-trash"></i>
    </div>
    <div class="w-100 ph3 pv2" body>
        <dynamic-form [objectModel]="'VoicePUT'" [startValues]="voice" [showSaveButton]="true" [alwaysAllowSave]="true" (save)="save($event)" [context]="{subPart: subpart, voice: voice}"></dynamic-form>
    </div>
</m4m-box>

<m4m-dialog [closable]="false" [dialogType]="'delete-cancel'" [icon]="'delete'" [okCallback]="delete" #confirm>
    <h1 class="mv0" title>"{{voice?.name}}" löschen?</h1>
    <div class="w-100 ph3 pv2" body>
        Soll "{{voice?.name}}" wirklich gelöscht werden?
    </div>
</m4m-dialog>
