[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[scripts]
webpack-build = "invoke build"
webpack-dev = "invoke start-js"
drop-db = "flask drop_db"
upgrade-db = "flask db upgrade"
create-migration = "flask db migrate"
fill-db = "invoke fill-db"
create-test-db = "invoke create-test-db"
start = "invoke start-py"

[dev-packages]
jedi = "*"
mypy = "*"
nose = "*"
pep8 = "*"
pylint = "*"
black = "==19.3b0"
pycodestyle = "*"

[packages]
python-dotenv = ">=0.10.3"
invoke = ">=1.3.0"
Flask = "==1.1.0"
flask-restplus = "==0.13.0"
Flask-SQLAlchemy = "==2.4.1"
Flask-Migrate = "==2.5.2"
Flask-Webpack = "==0.1.0"
Flask-Cors = "==3.0.8"
Flask-JWT-Extended = "==3.24.0"
Flask-Bcrypt = "==0.7.1"
muse-for-music = {editable = true,path = "."}
