<m4m-box>
    <h1 title>Opuses</h1>
    <div class="button h2 pv1 ph2 br2 bg-light-silver link bg-animate hover-bg-light-green pointer" (click)="newOpus($event)" title-right>
        <i class="fa fa-plus mr2"></i>New
    </div>
    <table class="w-100 table collapse ph3 pv2" body>
        <tbody>
            <tr>
                <th class="ph3 pv2 tl ttu mw3">Name</th>
                <th class="ph3 pv2 tl ttu">Genre</th>
                <th class="pr3 pv2 tl ttu">Composer</th>
            </tr>
            <tr class="bt b--black-10 pointer" *ngFor="let opus of opuses" routerLink="{{opus.id}}">
                <th class="ph3 pv2 mw3 tl">{{opus?.name}}</th>
                <th class="ph3 pv2 tl">{{opus?.genre.name}}</th>
                <th class="pr3 pv2 tl">{{opus?.composer.name}}</th>
            </tr>
        </tbody>
    </table>
</m4m-box>
