
<table class="w-100 table collapse ph3 pv2" body>
    <tbody>
        <tr>
            <th class="ph3 pv2 tl ttu pointer" *ngFor="let title of headings; let column = index;" (click)="changeSorting(column)">
                {{title}}
                <i class="fa fa-sort-up" [hidden]="sortByColumn !== column || !sortAscending"></i>
                <i class="fa fa-sort-down" [hidden]="sortByColumn !== column || sortAscending"></i>
            </th>
        </tr>
        <tr class="bt b--black-10 pointer" [ngClass]="{'bg-yellow': rows[index]?.id === selected}"  *ngFor="let index of order" (click)="selectRow(rows[index])">
            <th class="ph3 pv2 tl" *ngFor="let content of rows[index]?.content" >{{content}}</th>
        </tr>
    </tbody>
</table>
