<div [formGroup]="form">
    <label [attr.for]="question.key">{{question.label}}</label>

    <div [ngSwitch]="question.controlType">

        <input *ngSwitchCase="'string'" [formControlName]="question.key" [id]="question.key" [type]="question.type">

        <textarea *ngSwitchCase="'text'" [formControlName]="question.key" [id]="question.key"></textarea>

        <input *ngSwitchCase="'date'" [formControlName]="question.key" [id]="question.key" [type]="question.type">

        <input *ngSwitchCase="'number'" [formControlName]="question.key" [id]="question.key" [type]="question.type">

        <select [id]="question.key" *ngSwitchCase="'dropdown'" [formControlName]="question.key">
            <option *ngFor="let opt of question.options" [value]="opt">{{opt}}</option>
        </select>

    </div>

    <div class="errorMessage" *ngIf="!isValid">{{question.label}} is required</div>
</div>
