<div>
    <df-layer [modelUrl]="objectModel" [startData]="startValues" [context]="context" [path]="''"
        [specifications]="specifications" (specificationsUpdate)="updateSpecification($event)"
        (data)="updateData($event)" (valid)="valid.emit($event)" (validForSave)="canSave = $event; runChangeDetection()">
    </df-layer>
    <m4m-save-button [formValid]="alwaysAllowSave || canSave" (click)="saveForm()" *ngIf="showSaveButton"></m4m-save-button>
</div>

<m4m-dialog [dialogType]="'ok-cancel'" [valid]="valid" [icon]="'info'" [okCallback]="saveSpec" #dialog >
        <h1 class="mv0" title>New spec:</h1>
        <div class="w-100 ph3 pv2" body>
            {{currentSpec?.path}}
        </div>
</m4m-dialog>
