
<div class="ph3 flex flex-wrap">

    <m4m-box>
        <h1 class="mv0" title>Benutzer:</h1>
        <div class="tooltip tooltip-left button h2 pv1 ph2 ml3 br2 link bg-animate hover-bg-light-green pointer" data-tooltip="add user" (click)="newUser.open()" title-right>
            <i class="fa fa-plus"></i>
        </div>
        <div class="w-100 " body>
            <table class="w-100 table collapse ph3 pv2" body>
                <tbody>
                    <tr>
                        <th class="ph3 pv2 tl ttu">
                            Benutzer
                        </th>
                        <th class="ph3 pv2 tl ttu">
                            Passwort
                        </th>
                        <th class="ph3 pv2 tl ttu">
                            Rollen
                        </th>
                    </tr>
                    <tr class="bt b--black-10" *ngFor="let user of users"
                        [ngClass]="{'black-50': user?.deleted}">
                        <th class="ph3 pv2 tl">
                            {{user?.username}}
                            <span class="tooltip tooltip-right link hover-red pointer" data-tooltip="Benutzer löschen"
                                (click)="currentUser = user; removeUser.open()" [hidden]="user.username === userApi.username">
                                <i class="fa fa-trash"></i>
                            </span>
                        </th>
                        <th class="ph3 pv2 tl">
                            <div class="flex bb b--gray" *ngIf="user.username !== userApi.username">
                                <input class="input-reset bn pa1 w4" type="password" name="password" placeholder="Reset Passwort" #resetPasswordInput>
                            </div>
                            <span class="pointer dim" (click)="resetPassword(user, resetPasswordInput.value)" [hidden]="user.username === userApi.username">
                                <i class="fa fa-check"></i>
                                Passwort setzen.
                            </span>
                        </th>
                        <th class="ph3 pv2 tl">
                            <span class="inline-flex" *ngFor="let role of user?.roles; let last = last" [ngClass]="{mr2: last}">
                                {{role.role}}
                                <i class="fa fa-times pointer grow link hover-red" (click)="removeRole(user, role)"></i>
                                <span class="mr1" [hidden]="last">, </span>
                            </span>
                            <i class="fa fa-plus pa1 bg-near-white br1 background-animate hover-bg-light-green pointer"
                                (click)="currentUser = user; newRole.open()">
                            </i>
                        </th>
                    </tr>
                </tbody>
            </table>
        </div>
    </m4m-box>



    <m4m-dialog [dialogType]="'ok-cancel'" [icon]="'info'" [okCallback]="addRole" #newRole >
        <h1 class="mv0" title>Füge dem Benutzer {{currentUser?.username}} eine Rolle hinzu:</h1>
        <div class="w-100 ph3 pv2" body>
            <div class="flex flex-wrap">
                <label class="f4 min-w4 mr2 ws-normal flex-grow" style="word-wrap: break-word">
                    Rolle:
                </label>
                <div class="flex bb b--gray gray hover-black">
                    <select id="role" class="min-w5 input-reset bn pa1 bg-white black flex-grow" [(ngModel)]="role" #inputSelect>
                        <option *ngFor="let opt of ['user', 'taxonomy_editor', 'admin']" [value]="opt">{{opt}}</option>
                    </select>
                    <div class="w2 flex justify-around items-center pointer link" style="margin-left: -2rem; pointer-events: none" (click)="inputSelect.click($event)"><i class="f4 fa fa-angle-down"></i></div>
                </div>
            </div>
        </div>
    </m4m-dialog>


    <m4m-dialog [dialogType]="'ok-cancel'" [icon]="'info'" [okCallback]="addUser" #newUser >
        <h1 class="mv0" title>Neuer Benutzer:</h1>
        <div class="w-100 ph3 pv2" body>
            <div class="flex flex-wrap">
                <label class="f4 min-w4 mr2 ws-normal flex-grow" style="word-wrap: break-word">
                    Benutzername:
                </label>
                <div class="flex bb b--gray">
                    <input class="input-reset bn pa1 flex-grow" type="text" name="username" placeholder="Benutzername" [(ngModel)]="newUsername">
                </div>
            </div>
            <div class="mt2 flex flex-wrap">
                <label class="f4 min-w4 mr2 ws-normal flex-grow" style="word-wrap: break-word">
                    Passwort:
                </label>
                <div class="flex bb b--gray">
                    <input class="input-reset bn pa1 flex-grow" type="password" name="password" placeholder="Passwort" [(ngModel)]="newPassword">
                </div>
            </div>
        </div>
    </m4m-dialog>


    <m4m-dialog [dialogType]="'delete-cancel'" [icon]="'delete'" [okCallback]="deleteUser" #removeUser >
        <h1 class="mv0" title>Benutzer löschen:</h1>
        <div class="w-100 ph3 pv2" body>
            Soll der Benutzer "{{currentUser?.username}}" wirklich gelöscht werden?
        </div>
    </m4m-dialog>


    <m4m-dialog [dialogType]="'ok-cancel'" [icon]="'info'" [okCallback]="renewLogin" #renewLoginDialog >
        <h1 class="mv0" title>Aktion bestätigen:</h1>
        <div class="w-100 ph3 pv2" body>
            Um die Aktion zu bestätigen müssen sie erneut ihr eigenes Anmeldepasswort eingeben:
            <div class="mt2 flex flex-wrap">
                <label class="f4 min-w4 mr2 ws-normal flex-grow" style="word-wrap: break-word">
                    Passwort:
                </label>
                <div class="flex bb b--gray">
                    <input class="input-reset bn pa1 flex-grow" type="password" name="password" placeholder="Passwort" [(ngModel)]="password" (keyup.enter)="renewLoginDialog.ok()">
                </div>
            </div>
        </div>
    </m4m-dialog>

</div>
