<m4m-dropdown class="min-w5 flex flex-grow" #dropdown>
    <div class="flex-grow flex flex-wrap min-w5 bb b--gray" content>
        <p class="bg-black-20 pl3 pr2 pv1 ma1 br-pill" *ngFor="let item of selectedList()">{{item.name}}<i class="ml2 fa fa-close mr2 hover-red pointer" (click)="select.deselect(item.id)"></i></p>
        <input class="flex-grow input-reset min-w5 bn pa1 self-stretch" type="search" placeholder="suche in {{question.valueType}}"
                [(ngModel)]="searchTerm"
                (focus)="dropdown.openDropdown(); select.updateMatching('')" (keyup)="dropdown.openDropdown()"
                (keyup.enter)="select.select()" (keyup.arrowdown)="select.highlightNext()"
                (keyup.arrowup)="select.highlightPrevious()">
    </div>
    <m4m-taxonomy-selection-list [taxonomy]="question.valueType" [allowedSelections]="question.isArray ? -1 : 1" [selected]="_value"
            (selectedChange)="selectedChange($event)" [search]="searchTerm" #select dropdown-content></m4m-taxonomy-selection-list>
</m4m-dropdown>

