<div class="pa3 flex flex-wrap">
    <m4m-box>
        <h1 class="mv0" title>Taxonomie Editor:</h1>
        <div class="w-100 ph3 pv2" body>
            <div class="mb3 min-w5 flex-grow flex bb b--gray gray hover-black">
                <select class="input-reset bn pa1 bg-white black flex-grow" placeholder="Wähle eine Taxonomie aus" [(ngModel)]="selectedTaxonomy" (ngModelChange)="updateTaxonomy()" #inputSelect>
                    <option *ngFor="let tax of taxonomyList" [value]="tax.name">{{tax.display_name ? tax.display_name : tax.name}} {{tax.taxonomy_type === 'tree' ? '(Baum)': ''}}</option>
                </select>
                <div class="w2 flex justify-around items-center pointer link" style="margin-left: -2rem; pointer-events: none" (click)="inputSelect.click($event)"><i class="f4 fa fa-angle-down"></i></div>
            </div>
            <div class="min-w1 mt1 mb3" [hidden]="na == null">
                <div class="flex items-center">
                    <p class="min-w1 mv0 pa2 br-pill bg-near-white">Nicht Anwendbar</p>
                    <span class="tooltip tooltip-bottom link" data-tooltip="bearbeiten" (click)="editNaItemDialog.open()">
                        <i class="ml2 fa fa-pencil dim"></i>
                    </span>
                </div>
                <p class="mv0 min-w1">{{na?.description}}</p>
            </div>
            <div class="">
                <div class="flex items-center" *ngFor="let item of items"  [ngStyle]="{'display': visible(item) ? 'flex' : 'none'}">
                    <div [ngStyle]="{'min-width': item.depth + 'rem'}" *ngIf="isTree"></div>
                    <div class="w2 ph1 pointer" (click)="toggleClosed(item)" *ngIf="isTree && item.children.length > 0">
                        <i class="fa fa-fw fa-plus" [hidden]="!closed.has(item.id)"></i>
                        <i class="fa fa-fw fa-minus" [hidden]="closed.has(item.id)"></i>
                    </div>
                    <div class="flex flex-column self-stretch" *ngIf="isTree && item.children.length <= 0">
                        <div class="flex-grow-1 min-w2 bl bw1" style=""></div>
                    </div>
                    <div class="min-w1 mv1">
                        <div class="flex items-center">
                            <p class="min-w1 mv0 pa2 br-pill bg-near-white">
                                {{item.name === 'root' ? displayName : item.name}}
                            </p>
                            <span class="tooltip tooltip-bottom link" data-tooltip="bearbeiten" (click)="selectedItem = item.data; editItemDialog.open()">
                                <i class="ml2 fa fa-pencil dim"></i>
                            </span>
                            <span class="tooltip tooltip-bottom link" data-tooltip="Kindknoten einfügen" (click)="selectedParent = item.data; addItemDialog.open()">
                                <i class="ml2 fa fa-plus dim" *ngIf="isTree"></i>
                            </span>
                            <span class="tooltip tooltip-bottom link hover-red" data-tooltip="löschen" *ngIf="item.name !== 'root'" (click)="selectedItem = item.data; deleteItemDialog.open()">
                                <i class="ml2 fa fa-trash"></i>
                            </span>
                        </div>
                        <p class="mv0 min-w1">{{item.description}}</p>
                    </div>
                </div>
                <div class="flex items-center justify-center pa2 br-pill bg-near-white bg-animate hover-bg-light-silver pointer" *ngIf="!isTree && items?.length > 0" (click)="selectedParent = null; addItemDialog.open()">
                    <i class="fa fa-plus"></i>
                </div>
            </div>
        </div>
    </m4m-box>

    <m4m-dialog [closable]="true" [dialogType]="'save-cancel'" [icon]="'save'" [okCallback]="addItem" #addItemDialog>
        <h1 class="mv0" title>Neuer Eintrag:</h1>
        <div class="w-100 ph3 pv2" body>
            <div *ngIf="selectedParent != null" >
                <span>Kind von:</span>
                <span>{{selectedParent?.name}}</span>
            </div>
            <dynamic-form [objectModel]="'TaxonomyItemPOST'" [startValues]="{}" (valid)="onValidChange($event)" (data)="onDataChange($event)" #form></dynamic-form>
        </div>
    </m4m-dialog>

    <m4m-dialog [closable]="true" [dialogType]="'save-cancel'" [icon]="'save'" [okCallback]="editItem" #editItemDialog>
        <h1 class="mv0" title>Eintrag bearbeiten:</h1>
        <div class="w-100 ph3 pv2" body>
            <dynamic-form [objectModel]="'TaxonomyItemPUT'" [startValues]="selectedItem" (valid)="onValidChange($event)" (data)="onDataChange($event)" #form></dynamic-form>
        </div>
    </m4m-dialog>

    <m4m-dialog [closable]="true" [dialogType]="'save-cancel'" [icon]="'save'" [okCallback]="editNaItem" #editNaItemDialog>
        <h1 class="mv0" title>"Nicht Anwendbar" bearbeiten:</h1>
        <div class="w-100 ph3 pv2" body>
            <p>Bitte nur die Beschreibung anpassen!</p>
            <dynamic-form [objectModel]="'TaxonomyItemPUT'" [startValues]="na" (valid)="onValidChange($event)" (data)="onDataChange($event)" #form></dynamic-form>
        </div>
    </m4m-dialog>

    <m4m-dialog [closable]="false" [dialogType]="'delete-cancel'" [icon]="'delete'" [okCallback]="deleteItem" #deleteItemDialog>
        <h1 class="mv0" title>"{{selectedItem?.name}}" löschen?</h1>
        <div class="w-100 ph3 pv2" body>
            Soll "{{selectedItem?.name}}" wirklich gelöscht werden?
        </div>
    </m4m-dialog>
</div>
