<!doctype html>
{% autoescape true %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>

<body>
    <h1>Taxonomy "{{taxonomy}}":</h1>

    <a href="{{url_for('debug_routes.taxonomies')}}">back</a>

    <ul>
        {%- for item in content  recursive -%}
        <li>{{item.name}}</li>
            {%- if item.children -%}
            <ul>
                {{ loop(item.children) }}
            </ul>
            {%- endif -%}
        {%- endfor -%}
    </ul>

</body>

</html>
{% endautoescape %}
