<!doctype html>
{% autoescape true %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" type="text/css" href="{{url_for('debug_routes.static', filename="debug/taxonomies/taxonomies.css")}}">
</head>

<body>
    <h1>Taxonomy "{{taxonomy}}":</h1>

    <a href="{{url_for('debug_routes.taxonomies')}}">back</a>


    <div class="css-treeview">
        <ul>
            {%- for item in content  recursive -%}
            {%- if item.children -%}
            <li style="list-style: none">
            {%- else -%}
            <li>
            {%- endif -%}
                {%- if item.children -%}
                <input type="checkbox" id="{{loop.depth}}-{{loop.index}}", checked="true"/><label for="{{loop.depth}}-{{loop.index}}">{{item.name}}</label>
                <ul>
                    {{ loop(item.children) }}
                </ul>
                {%- else -%}
                {{item.name}}
                {%- endif -%}
            </li>
            {%- endfor -%}
        </ul>
    </div>

</body>

</html>
{% endautoescape %}
