<ng-container *ngIf="showTree">
    <div class="flex items-center tooltip-bottom tooltip-small tooltip-wo-triangle"
        [ngClass]="{tooltip: !(!selectable?.description)}" [attr.data-tooltip]="selectable?.description"
        *ngFor="let selectable of selectables inline" [ngStyle]="{'display': visible(selectable) ? 'flex' : 'none'}">
        <div [ngStyle]="{'min-width': selectable.depth + 'rem'}"></div>
        <div class="h1 pointer" (click)="toggleClosed(selectable)" *ngIf="selectable.children.length > 0" >
            <i class="f6 fa fa-fw fa-plus" [hidden]="!closed.has(selectable.id)"></i>
            <i class="f6 fa fa-fw fa-minus" [hidden]="closed.has(selectable.id)"></i>
        </div>
        <div class="flex flex-column self-stretch" *ngIf="selectable.children.length <= 0">
            <div class="flex-grow-1 ml2 mr1 bl bw1" style=""></div>
        </div>
        <div class="min-w1 mv0 pv1 ph2 br-pill hover-bg-black-30 pointer" (click)="select(selectable.id)" [ngClass]="{'bg-light-blue': selectable.id === highlighted, 'b': selectedSet.has(selectable.id)}">{{selectable.name === 'root' ? taxonomy : selectable.name}}</div>
    </div>
</ng-container>
<ng-container *ngIf="!showTree">
    <div *ngFor="let selectable of selectables" [hidden]="!visible(selectable)"
            (click)="select(selectable.id)"
            class="hover-bg-black-30"
            [ngClass]="{'bg-light-blue': selectable.id === highlighted, 'b': selectedSet.has(selectable.id)}">
        <a class="tooltip-bottom tooltip-small" [ngClass]="{tooltip: !(!selectable?.description)}" [attr.data-tooltip]="selectable?.description">{{selectable.name === 'root' ? taxonomy : selectable.name}} test für umbrüche noch mehr text</a>
    </div>
</ng-container>
<div [hidden]="matching.size > 0">
    <span>No Matches</span>
</div>
