<div>
    <df-layer [modelUrl]="objectModel" [startData]="startValues" [context]="context" [path]="''"
        [specifications]="specifications" [debug]="debug" (specificationsUpdate)="updateSpecification($event)"
        (data)="updateData($event)" (valid)="valid.emit($event)" (validForSave)="canSave = $event; runChangeDetection()">
    </df-layer>
    <m4m-save-button [formValid]="alwaysAllowSave || canSave" (click)="saveForm()" *ngIf="showSaveButton"></m4m-save-button>
</div>

<m4m-dialog [dialogType]="'ok-cancel'" [valid]="valid" [icon]="'info'" [okCallback]="saveSpec" #dialog >
    <h1 class="mv0" title>Spezifikation</h1>
    <div class="w-100 ph3 pv2" body *ngIf="currentSpec">
        <df-layer [modelUrl]="'SpecificationPUT'" [startData]="currentSpec" [path]="''"
            [specifications]="[]" [debug]="debug"
            (data)="updateSpecData($event)">
        </df-layer>
    </div>
</m4m-dialog>
